<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="globalSuite" verbose="1">
    <suite-files>
        <suite-file path="login.xml"/>
        <suite-file path="users.xml"/>
        <suite-file path="brands.xml"/>
        <suite-file path="deskExpirationTime.xml"/>
    </suite-files>
</suite>